<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/contact.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>test</title>
</head>

<body>

  
  <div class="profile-card">
    <div class="card-header">
      <div class="pic">
        <img
  src="https://image.shutterstock.com/image-vector/face-happy-girl-avatar-laughing-260nw-1459862774.jpg" alt="avatar" />
      </div>
      <p class="name">Simran Panchal</p>
      <span class="desc">Developer</span>
      <div class="social">
        <!-- <a href="#" class="fab fa-facebook-f"></a> -->
        <!-- <a href="#" class="fab fa-twitter"></a> -->
        <a href="https://www.linkedin.com/in/simran-panchal-3b8a50206/" class="fab fa-linkedin"></a>
        <a href="https://github.com/simran030601" class="fab fa-github"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-telegram"></a>
      </div>
      <a href="#" class="btn contact">Contact me</a>
    </div>
    
 </div>
</body>

</html>