<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NetFlix App</title>
        <link rel="stylesheet" href="../static/blog.css" />
        <script src="../static/latestMovies.js" defer></script>
    </head>
    <body>
    
        <form id="form">
            <input
                type="text"
                id="search"
                placeholder="Search"
                class="search"
            />
        </form>
        <main id="main"></main>
    </body>
</html>
